// $color-green: #80c890;
// $color-dark-green: #458a54;
// $color-light-red: #ff8181;
// $color-red: #ff6a55;
// $color-pink: #fef6f4;

$color-white: #fff;
$color-light-purple: #ffddff;
$color-purple: #ff88ff;
$color-dark-purple: #a50ca5;
$color-black: #040404;
