@import "../../abstracts/variables.scss";

.cash {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 90%;
  min-height: 90%;
  border: 2px solid $color-dark-purple;

  &__title {
    padding: 20px;
  }

  &__box {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 20px;
    //  border: 2px solid $color-dark-purple;
  }
}
