@import "../../abstracts/variables.scss";

.controlPanel {
  display: grid;
  grid-template-rows: auto minmax(100px, 400px) auto;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  border: 2px solid $color-dark-purple;
  background: linear-gradient(#fff, #fdf);
  // max-height: 600px; //!какое значение ???
}
