@import "../../abstracts/variables.scss";

.controlPanel {
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  border: 2px solid $color-dark-purple;
  background: linear-gradient(#fff, #fdf);
}
