@import "../../abstracts/variables.scss";

.productsContainer {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  border: 2px solid $color-dark-purple;
  background: linear-gradient(#fff, #fdf);

  &__title {
    padding: 10px;
  }
  &__box {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .productsContainer {
    &__box {
      display: flex;
    }
  }
}
