@import "../../abstracts/variables.scss";
@import "../../base/button.scss";

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid $color-dark-purple;
  padding: 20px;
  flex: 1 auto;

  &__title {
  }

  &__price {
  }

  &__quantity {
  }

  &__description {
  }
}
