@import "../../abstracts/variables.scss";
@import "../../base/button.scss";

.product {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  justify-content: center;
  border: 2px solid $color-dark-purple;
  padding: 20px;
  flex: 1 auto;
  background: linear-gradient(#fdf, #fff);

  &__title {
  }

  &__price {
  }

  &__quantity {
  }

  &__description {
  }

  &__button {
    width: 100%;
  }
}
.empty {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 98, 98, 0.5);
  }
  // background: linear-gradient(rgb(185, 180, 185), #fff);
}
