@import "../../abstracts/variables.scss";

.appcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  min-width: 90%;
  min-height: 90%;
  border: 2px solid $color-dark-purple;
  background: linear-gradient(#fdf, #fff);

  &__title {
    padding: 20px;
  }

  &__box {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 20px;
    //  border: 2px solid $color-dark-purple;
  }
}

@media (max-width: 1200px) {
  .appcontainer {
    &__box {
      flex-direction: column;
      gap: 10px;
      width: 100%;
      padding: 10px;
    }
  }
}
