@import "../abstracts/variables.scss";
.button {
  border: 2px solid $color-dark-purple;
  padding: 5px 15px;
  color: $color-purple;
  background: linear-gradient(#fff, #fdf);

  &:hover {
    background: linear-gradient(#fdf, #fff);
    color: $color-dark-purple;
    // box-shadow: 5px 5px 5px #ff88ff;
  }
  &:active {
    background: linear-gradient(#ff88ff, #ffddff);
    color: $color-light-purple;
  }
}
