// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap");
@import "../abstracts/variables.scss";

html,
body {
  color: $color-dark-purple;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  line-height: 120%;
}
